@import "./variables.scss";
@import "./breakpoints.scss";
.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center; // Center align the entire container
}

.category-list {
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 800px; // Adjust this to ensure wrapping into two rows
  @include sm {
    padding: 50px 20px;
  }
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkgrey;
    cursor: pointer;
    flex: 1 0 21%; // Adjust this value to fit items in two rows
    &_icon {
      width: 50px; // Adjust this size as needed
      height: 50px; // Adjust this size as needed
      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // Ensures the image scales while maintaining aspect ratio
      }
    }
    p {
      font-size: 18px;
      font-weight: 700;
    }
    &:hover {
      color: $pinkred;
    }
  }
  .selected {
    color: $pinkred;
    border: 2px solid $pinkred;
    border-radius: 5px;
  }
}

.listings {
  padding: 40px 60px 120px; // Adjust padding as needed
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; // Adjust gap as needed
  @include lg {
    padding: 40px 20px 120px;
  }
}
